<!DOCTYPE html>
<html>
  <head>
    <title>CTA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>CTA Ridership October 2012</title>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <ul>
          <li><a href="/map">Visualize In <strong>Map</strong></a></li>
          <li><a href="/table">Sort In <strong>Table</strong></a></li>
          <li><a href="http://github.com/loganmeetsworld/CTA">Find On<strong>GitHub</strong></a></li>
        </ul>
        <h1>CTA Ridership October 2012</h1>
        <h2>The route with the most stops is Route #<%= @route_with_most_stops.route_number %> with <%= @route_with_most_stops.stops.count %> stops.</h2>
        <h2>The stop with the most routes is Stop #<%= @stop_with_most_routes.stop_id %> at the corner of <%= @stop_with_most_routes.on_street.titlecase %> and <%= @stop_with_most_routes.cross_street.titlecase %> with <%= @stop_with_most_routes.routes.count %> routes.</h2>
      </header>
    </div>

    <%= yield %>
  </body>
</html>
